.section_title h4 {
    display: inline-block;
    color: #f39b10;
}

.section_title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.button_detail {
    float: right;

}

.button_detail button {
    margin-left: 10px;
    background: #f39b10;
}

button {
    background: #f39b10;
}

.mgt_detail {
    margin-top: 30px;
}

.admin_detail {
    margin-top: 40px;
}

.detail_right {
    float: right;
    /*margin-top: 15px;*/
    margin: 15px 10px;
}

.border_0 {
    border: 0;
}

.border_0 td {
    border: 0;
}

select {
    width: 100%;
}

th, td {
    height: 45px;
}

.detail_admin_blue tr:first-child {
    background: #00266c;
}

.detail_admin_blue tr:first-child th {
    color: #fff;
}

.detail_admin_blue td, .detail_admin_blue th {
    border: 0;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    height: 72px;
}

h5 {
    font-weight: bold;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    display: block;
    overflow: hidden;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
    text-align: right;
}

.left select {
    width: 30%;
}

.right input {
    width: 30%;
    border-radius: 5px;
}

.admin_search {
    background-color: #00266c;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 20px;
    border-radius: 8px;
}
