.navbar.navbar-default.navbar-static-top {
    margin-bottom: 0;
}

.hidden-data{
    display: none;
}

.alert {
    position:fixed;
    top: 0px;
    left: 0px;
    width: auto;
    z-index:9999;
    border-radius:0px
}

label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}