@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
body{
        background-color: #f8f8f8;
}
.tab_report {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab_report button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 17px;
    background: #002b6d;
    margin-right: 16px;
}
.tab_report button a{
    color:#fff;
}
/* Change background color of buttons on hover */
.tab_report button:hover {
  background-color: #f39b10;
  color: #fff;
}

/* Create an active/current tablink class */
.tab_report button.active {
    background-color: #f39b10;
}

/* Style the tab content */
.tabcontent{
    padding: 6px 0px;
    width: 100%;
}
.report{
    margin-top: 20px;
}
.report h3{
        color: #f39b10;
}
.box_shardow{
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
      text-align: center;
    padding: 20px 0;
    margin-bottom: 15px;
}
.report strong{
    text-transform: uppercase;
    color:  #f39b10;
    font-size: 22px;
}
.report_left {
    padding: 0;
}
.text_left p{
text-align: left;   
}
.column_text{
    float:  left;   
}
.text_left{
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 20px;
}
.text_left .column_text:nth-child(2){
  float: right; 
}
.report_thongke{
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}
.report_thongke h4, .checkin_report h4{
    color: #f39b10;
    text-transform: uppercase;
    font-size: 14px;
}
.checkin_report h4{
border-bottom: 1px solid #ddd;
padding-bottom: 10px; 
}
.chart_report{
    border-radius: 6.5px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  height: 10px;
  padding: 0;
}
.back_chart{
     background-color: #2fb858;
    border-radius: 6.5px;
    height: 11px;
    width: 60%;

}
.report_nguontruycap tbody tr:first-child{
    background: #e8e8e8;
}
.report_nguontruycap th, .report_nguontruycap td{
border: 0;
    border-bottom: 1px solid #dfdfe1;
}
.report_nguontruycap tbody tr:first-child th:first-child{
        width: 80%;
}
.report_nguontruycap td:hover::after{
    display: none;
}
.report_nguontruycap{
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}
.report_nguontruycap table{
    border: 0;
}
.table_report_one .col-sm-4 p{
    text-align: right;
}
.table_report_one strong{
    color: #358dd1;
    font-size: 16px;
}
.table_report_one >p strong{
    color: #2fb858;
 
}
.table_report_one >p{
        overflow: hidden;
    display: block;
    position: relative;
    padding-top: 5px;
    width: 100%;
    height: auto;
    text-align: right;

}
.table_report_one .col-sm-8 strong{
color: #333;
    font-size: 14px;
    text-transform: none;
}
.table_report_one .col-sm-8{
    padding: 0;
}
.checkin_report{
    position: relative;
    display: block;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}






.search_column_one input{
    width:  100px;
}
.search_column_one{
    position:relative;  
}
.search_column_one button{
    float: right;
    top: 0;
    right: 0;
    position: absolute;
    border: solid 1px #b9bdc4;
    background: #e9e9e9;
    color: #333333;
}
.search_port{
    background: #e8e8e8;
    padding: 20px;
    border-radius: 5px;
}
.search input{
       width: 100%;
    margin-bottom: 0;
}
.report select{
    /*padding: 11px 19px;
    margin-right: 15px;*/
}
.search{
    display:inline-block; 
    position:relative;
    float: right;
    width: 22%;
    padding-right: 10px;
}
.search:after{
        content: "\f002";
    opacity: 1;
    font-family: FontAwesome;
    color: #999;
    top: 3px;
    line-height: 32px;
    padding: 0 10px;
    float: right;
    background: 0 0;
    height: 36px;
    width: 15px;
    position: absolute;
    margin-right: 5px;
    right: 14px;
}
.report_donhang .col-sm-4{
    border-radius: 5px;
    border: solid 1px #999999;
    text-align: center;
    padding: 8px 0px;
    width: 31.9%;
    margin-right: 2%;
}
.report_donhang .col-sm-4:nth-child(3){
    margin-right: 0;
}
.report_donhang{
    padding-bottom: 20px;
        position: relative;
    display: block;
    overflow: hidden;
}
.fa{
    margin-right: 0;
}
button{
    background-color: #3ca4e6;
    text-transform:uppercase;   
}
.detail_column_one input{
    width: 60px;
        text-align: center;
}
td p{
    opacity: 1;
    float: none;
    display: block;
}
.report_detail h4{

}
.report .detail_column_two strong{
text-transform: none;
    font-size: 14px;
    color: #333;
}
.detail_column_two p{
    margin-bottom: 0;
}
.report_detail td{
    padding: 7px;
    vertical-align: top;
}
.detail_column_two h5{
    color: #2ab559;
        margin-bottom: 5px;
}
#donhang{

    padding: 17px 0;

    border-radius: 5px;
}
#donhang .report_detail{
    background: #fff;
    padding:0 15px;
}
.report .title{
    padding-bottom: 20px;
}
.center{
    text-align: center;
}
.detail_column_one .col-sm-4:nth-child(3){
       float: right;
    text-align: right;
    padding-right: 0;
}
.report_detail h4{
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: #e8e8e8;
    margin-top: 20px;
    padding: 10px;
    color: #f39b10;
    font-weight: normal;
}
.red_report h5{
color: #ff0000;
   
}

/*.detail_column_two tr td:nth-child(2){
    border-left: 4px solid #00bfe6;
}*/
.detail_column_two .red_report{
     border-left: 4px solid #ff0000 !important;
}
.detail_column_two{
    margin-bottom: 20px;
}
.green_report h5{
    color: #00bfe6;
}
/*.detail_column_two .green_report{
     border-left: 4px solid #00bfe6 !important;
}*/
.checkin_report > .col-sm-4{
        border-right: 1px solid #ddd;
}
.checkin_report button{
    background: #e1e1e1;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: #333;
}
.checkin_report td{
    border: 0;
    border-bottom: 1px solid #dfdfe1;
        padding: 10px;
}
.exam tr td:last-child{
    text-align: right;
}
.exam tr td:first-child p:last-child{
    color: #999999;
}
.exam tr td:last-child p:first-child{
        color: #999999;
}
.checkin_report table{
    border: 0;
}
.report .checkin_report strong{
    color: #35a417;
}
.map_circle{
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #ddd;
    padding-top: 30px;

}
.pttt_mgg{
        position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    height: 100%;
    padding: 20px 0;
    margin-top: 35px;
}
.map_report .tab button{
        width: auto;
        display: inline-block;
}
.map_report .tab{
        float: none;
    border:0;
        height: auto;
}
.map_report{
        background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
#doanhthu{
    text-align: center;
    padding-top: 20px;
}
.report_sum{
        position: relative;
    display: block;
    overflow: hidden;
}
.pttt_mgg td{
    border: 0;
        height: 35px;
}
.pttt_mgg table{
      border: 0;
}
.pttt_mgg .col-sm-6:first-child{
        border-right: 1px solid #ddd;
}
.pttt_mgg .col-sm-6 h5{
    border-bottom: 1px solid #ddd;
        padding-bottom: 13px;
}
.pttt_mgg i{
        font-size: 10px;
    margin-right: 10px;
}
.color1{
    color: #31c8db;
}
.color2{
color: #2de3b7;
}
.color3{
color: #d1e86b;
}
.color4{
color: #ee64dd;
}
.color5{
color: #459fd8;
}
.modal-dialog{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}
.modal-dialog p{
    font-size: 13px;
}
.modal-content{
    overflow: hidden;
}
.modal-footer{
    padding: 23px 15px;
}
.modal-header .close{
    margin-top: -22px;
}
.modal-footer button{
    background-color: #f39b10;
    border:0;
}
.modal-title{
    color: #f39b10;
    font-weight: bold;
}
.modal-header{
    background: #ddd;
    border-bottom: 1px solid #f7f7f7;
}
.modal.fade.in{
    background: rgba(0,0,0,.5);
}
.report_donhang >.col-sm-4{
    padding-bottom: 0;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: 0;
}
.report_donhang >.col-sm-4:hover{
    position: relative;
    top: -5px;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.report_donhang >.col-sm-4 h3{
    color: #000;
    padding: 15px;
}
.report_donhang >.col-sm-4 p{
    background: #f39b10;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 18px;
}
.title_header_report{
    float: left;
}
.title_header_report a{
    line-height: 40px;
    padding-right: 20px;
}
.title >p{
    padding-top: 10px;
}
.info_ticket .navbar{
    background-color: #f8f8f8;
    padding: 10px 0;
}
.navbar-brand{
    height: auto;
}
button{
    font-family: 'Montserrat', sans-serif;
}
#export_data{
    float: right;
}
.search_column_two{
    position: relative;
    /*overflow: hidden;*/
}
.search_column_two .col-sm-2{
    padding-left: 0;
    padding-right: 8px;
}
.search_column_two .col-sm-2:nth-child(6){
    padding-right: 0;
}
.search_column_two .form-group{
    height: 24px;
}
#doFilter{
    float: right;
    padding: 7px 15px;
}
.navbar-brand > img{
    width: 200px;
}
#footer-area, .footer-bottom{
    display: none;
}
#dataTransaction tr th:nth-child(1), #dataTransaction tr td:nth-child(1){
    display: none;
}