.icon_user{
    float: right;
    color: #fff;
    padding-top: 15px;
}
.dropdown-menu{
    right: 0;
    min-width: 88px;
    left: auto;
}
.btn-primary{
    background-color: transparent;
    border-color: transparent;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: transparent;
    border-color: transparent;
}
.btn{
    padding: 6px 0px;
}