
.text-right p{
  color: #fff;
}
.info_ticket .navbar{
  background-color: #00266c;
}
.section_1 .title_info_ticket p:first-child{
	    background: #999999;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    line-height: 30px;
      margin: auto;
}
.title_info_ticket{
	display: inline-block;
}
.title_info_ticket:last-child{
	float: right;
}
.title_info_ticket{
	width: 24%;
	margin-bottom: 20px;
	position: relative;
}
.title_info_ticket p:nth-child(2){
line-height: 19px;
margin-top: 10px;

}
.section_1 .title_info_ticket:nth-child(1) p:first-child{
   background: #f39b10;

    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    line-height: 30px;
}
.section_1 .info_ticket{
	width: 104px;
	text-align: center;
}
.section_1{
	padding-top: 50px;
}
.navbar-brand > img{
	height: auto;
}
.pdt{
	padding-top: 30px !important;
}
.section_2 button{
		margin-top: 10px;
		margin-right: 10px;
}
.form_tag .col-sm-3{
padding-left: 5px;
padding-right: 5px;
}
button:hover{
	color: #f39b10;
	border:1px solid #f39b10;
	background: transparent;

}
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding:0;
    height: 300px;
    border-right: 0;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #fff;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;

    border-left: none;
    height: 300px;
}
.title-info h5{
	margin:0;
}
input{
    margin-bottom: 15px;
}
input[type=checkbox]{
	width: auto;
	height: auto;
}
label{
	display: inline-block;
}
.form_tag .fa{
    color: #000;
}
.form_tag{
    border-radius: 5px;
    background-color: #e1f6fe;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 16px 6px;
        margin-bottom: 20px;
}
.form_tag p{
	border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    font-size: 12px;

}
.section_2{
	padding-bottom: 40px;
}
.tabcontent{
	height: 100%;
	border: 0;
}
.editor_content{
	height: 120px;
	background: #e1f6fe;
	margin-bottom: 10px;
}
.image_sidebar{
	height: 150px;
	background: #e1f6fe;
}
.check_box_lagu{
	    display: block;
    position: relative;
    overflow: hidden;
}
.section_1 .title_info_ticket .info_ticket{
	margin: auto;
}

.section_1 .title_info_ticket:nth-child(1) .info_ticket{
	margin-left: 0;
}

.border{
	    height: 2px;
    background: #999999;
    position: absolute;
    width: 100%;
    top: 13px;
    z-index: -1;
}
.section_1 .row{
	position: relative;
}
.section_1 .title_info_ticket:nth-child(4) .info_ticket{
	margin-right: 0;
}
.phu:before{
    content: "";
    height: 2px;
    background: #fff;
    position: absolute;
    top: 13px;
    width: 75px;
    left: 0;
    z-index: 1;
}
.section_1 .title_info_ticket p:first-child{
position: relative;
z-index: 99;
}
.phu1{
	    width: 47px;
    text-align: center;
    margin: auto;
    background: #fff;
}
.title_info_ticket:nth-child(3){
	width: 36%;
}
.title_info_ticket:nth-child(4){
	width: 15%;
}
.title_info_ticket:nth-child(4) .phu1:after{
  content: "";
    height: 2px;
    background: #fff;
    position: absolute;
    top: 13px;
    width: 75px;
   right: 0;
    z-index: 1;
}
.check_box_lagu .col-sm-4:first-child{
	padding-left: 0;
}
.xam{
	    background-color: #607784;
}
.time_ticket{
    padding: 6px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.modal-body{
	overflow: hidden;
}
.popup_image{
	    position: absolute;
    right: 22px;
    top: 42px;
}
.modal-body{
	    padding: 15px 25px;
}
.modal-footer{
	padding-top: 5px;
    text-align: left;
}
.edit_popup{
	  background-color: transparent;
    color: #349de4;
    float: right;
     margin: 1px 0 !important;
    padding: 0;
    font-size: 20px;
}
.edit_popup:hover{
	border: 0;

}
.time_ticket{
	    margin: 13px 0;
}
.height_textarea{
	height: 100px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.col-sm-4.height_textarea{
	background: #e1f6fe;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
}
select{
	    padding: 7px 10px;
    border-radius: 5px;
}

.condition {
     display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 23px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.condition input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
}

/* On mouse-over, add a grey background color */
.condition:hover input ~ .checkmark {
   background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.condition input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.condition input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.condition .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark{
	border-radius: 0;
}

th, td {
    border: 1px solid #dfdfe1;
    height: 59px;
    padding: 0 10px;
    position: relative;

  
}

table {
    border-spacing: 0;
    border-collapse: collapse;
     overflow: hidden;
    z-index: 1;
 
      border: 1px solid #dfdfe1;
    width: 100%;
}

td:hover::after {
    background-color: #e1f6fe;
    content:'';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

.loai_ve{
	    border-radius: 5px;
   
    border: solid 1px #e1e1e1;
    padding: 20px 15px;
}
.date_ticket{
	padding: 0;
}
.date_ticket table{
    margin-top: 7px;
}
td p{
    display: inline-block;
    float: right;
    opacity: 0;
}
td:hover p{
	opacity: 1 !important;
}
.loai_ve i{
	display: block;
}
h4{
	font-size: 15px;
}
.form_info{
	background-color: #008aff;
    display: block;
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.form_info:hover{
	color:#008aff;
    border: 1px solid #008aff;
}

.quy_dinh_su_dung_qua{
        position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}
.tang_qua_khi_mua p{
    display: inline-block;
}
.tang_qua_khi_mua input{
    width: 60px;
}
.width{
        position: relative;
    display: block;
    overflow: hidden;
width: 100%;
}
.width input{
    width: 50px;
}
.width_80{
    width: 80px;
}
.textarea textarea{
    width: 60%;
    height: 60px;
}
.modal-dialog input{
        margin-bottom: 0;
}
.modal-dialog .button_add_ticket{
    background-color: #178fe0;
    width: 100%;
    margin-top: 0;
}
.modal-footer{
       position: relative;
    display: block;
    overflow: hidden;
    float: left;
    width: 100%;
    padding: 23px 0;
}
.modal-dialog i.fa.fa-times{
        position: absolute;
    top: 9px;
    right: 0;
    background: #333;
    border-radius: 3px;
    font-size: 23px;
    padding: 8.5px;
    color: #fff;
}
#magiamgia .loai_ve i{
    display: inline-block;
}
.ddlabel:before{
        
            font: normal normal normal 14px/1 FontAwesome;
}

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.border_bottom input{
        border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
.border_mgg{
        overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.border_mgg i{
    padding-left: 30px;
}
.ap_dung_voi_cac_loai_ve .border_mgg:first-child{
    border-top:  1px solid #ddd;
}
.border_none input{
    border: 0;
    position: absolute;
    border-radius: 0;
    height: auto;   
}
.border_none p{
        margin-bottom: 15px;
}
.border_none input:focus{
     border-bottom: 1px solid #ddd;
         outline: none;
}
.dd .ddArrow{
     margin-top: -4px !important;
    border-color: rgba(68,68,68,0.4) transparent;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    height: 0;
    width: 0;
    position: absolute;
    right: 5px;
    top: 15px;
}
.bottom{
   margin-bottom: 20px;
    border-bottom: 1px solid #008aff;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.padding .col-sm-12{
    padding: 0;
}
.padding .col-sm-10{
    padding: 0;
}
.opacity p{
    color: #999999;
}
.luoi_hop_kiem{
    padding-left: 0;
    padding-right: 0;
}
.day_gg input{
        position: relative;
}
.day_gg p{
    display: inline-block;
}
.select_pvtt p{
display: inline-block;
}
.select_pvtt .border_none p{
    display: block;
}
.select_pvtt select{
    border: 0;
}
.upload_mb{
    margin-bottom:  10px;
}
.upload_mb p{
    display: inline-block;
    width: 40%;
}
.upload_mb select{
        border: 0;
}
.upload_imgage{
        position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}
.count{
 float: left;

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.refund_policy{
    position: relative;
    overflow: hidden;
}
#quydinhhoantien textarea{
    height: 100px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.text_date{
    width: 80px;
}
#magiamgia th, #magiamgia td{
    text-align: center;
}
.popup{
  display: none;
      position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.popup .content_popup{
      width: 800px;
      -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;

    margin: auto;
        background: #fff;

}
.popup.intro{
  display: block;
  overflow-x: hidden;
    overflow-y: auto;
}
.popup.intro .content_popup{
      -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
          position: absolute;
    top: 50%;
    left: 50%;
     -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.popup_text{
      position: relative;
    background-color: #fff;
    outline: 0;
  
     padding: 16px 24px;
        text-align: justify;
}

.content_popup h5{
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;

    font-weight: bold;
    color: #c32127;
}
.close_popup{
display: block;
    float: right;
      font-size: 22px;
    width: 100%;
    text-align: right;
    font-weight: bold;
}
.intro{
      background: rgba(0, 0, 0, 0.3);
}
.popup.intro .test{
  top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}
select#question option[value="question1"] {
 background-image:url(img/iconqustion.png);  
  }
  .form_info_ticket .col-sm-8{
        border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
  }
.ve_cho_tung_buoi_dien{
        padding: 0;
    margin-top: 35px;
}
.ve .col-sm-4 input{
       display: inline-block;
        width: 89%;
    margin-left: 4%;

}
.ve{
    position: relative;
    /* overflow: hidden; */
    display: block;
    overflow: hidden;
    width: 100%;
        border-top: 1px solid #ddd;
    padding-top: 17px;
}
.ve_cho_tung_buoi_dien .ve:first-child{
       border-top: 0;
}
.tuychinh_ve{
        background-color: #f7f7f7;
    padding: 25px;

}
.soluong_donhang input{
        width: 70px;
}
.suat_dien .checkmark{
    border: 1px solid #ddd;
        top: 11px;
    left: 6px;
}
.suat_dien .col-sm-6:nth-child(1){
    padding:0;
}
.suat_dien .col-sm-6 label{
        border: 1px solid #ddd;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background: #fff;
}
.tuychinh_day .col-sm-6{
    padding:0;
    padding-right: 10px;
}
.hour{
    width: 70px;
}
.tuychinh_ve .col-sm-12 label{
    float: right;
}
.tuychinh_ve{
    display: none;
}
.tuychinh_ve.tuychinh_ve_show{
    display: block;
}
.thu_gon{
        border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}
i.fal.fa-long-arrow-up{
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tren_3_don_vi{
    width: 100%;
}
.tren_3_don_vi input{
    margin-bottom: 0;
}
.tren_3_don_vi table{
    border: 0;
}
.tren_3_don_vi tr:first-child td:last-child{
background-color: #e1f6fe;
    border: 1px solid #2b9ae3;
    border-radius: 5px;
}
.logo_taitro .taitro{
        height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: #e1f6fe;
    float: left;
    margin-left: 10px;
       line-height: 57px;
           margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.tren_3_don_vi a{
    color: #2b9ae3;
    width: 100%;
    margin-top: 10px;
}
.taitro i{
        position: absolute;
}
.tren_3_don_vi td{
      border: 0;
      height: 42px;
}

@media (min-width: 768px){
    #taove .modal-dialog {
        width: 1024px;
    }
}

@media (min-width: 768px){
	.modal-dialog {
	    width: 486px;
	}
}
