﻿

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,900');
body {
    color: #4c5462;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
@media (min-width:1200px) {
    .container {
        width: 1200px
    }
}
.img {
    max-width: 100%;
}
a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}
a:focus, a:hover, a:active {
    color: #4c5462;
    text-decoration: none;
}
a, button {
    outline: medium none;
    color: #4c5462;
    text-decoration: none;
    display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
    color: #4c5462;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
    color: #2b323f;
}
h4 {
    font-size: 18px;
    color: #2b323f;
    font-weight: 600;
}
h5 {
    font-size: 16px;
    color: #2b323f;
    font-weight:normal;
}
h6 {
    font-size: 16px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none
}
p {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    color: #4c5462;
    margin-bottom: 5px;
}

.header-space {
    margin-top: 120px;
}

/* =====================================
1.1. TRANSITION
===================================== */

/*=====================================
PADDING TOP
===================================== */


.pt-80 {
    padding-top: 80px;
}
.pt-90 {
    padding-top: 90px;
}


/* =====================================
1.7. SECTION HEADDING STYLE
===================================== */

#about .section-heading {
   margin-top: 50px;
   margin-bottom: 20px;
}
.section-heading h2 {
    position: relative;
    text-transform: uppercase;
        color:#00266c;
}
#about .menu{
       border-top: 1px solid #dddddf;
          border-bottom: 1px solid #dddddf;
       margin-bottom: 10px;
       margin-top: 20px;
}
#about .menu li{
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
 
}
.fa{
    margin-right: 10px;
}
.section-heading p {
    margin-bottom: 10px;
}
.info{
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    padding: 0;
}
.info h3{
    color: #00266c;
    font-size: 18px;
        padding: 30px;
    padding-bottom: 0;
}
.info p{
    padding:0 30px;
}
.button-ticket{
width: 100%;
    background: #f39b10;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
/* =====================================
2. HEADER AREA
===================================== */

header {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 3;
}
#navigation {
    padding: 0 15px;
}
.navbar {
    border-radius: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.navbar.affix {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.8);
}
.navbar-brand > img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
        width: auto;
    height: 43px;
    overflow: hidden;
}
.navbar-brand{

    height: 70px;
}
.navbar.affix .navbar-brand > img {
    width: 85%;
}
.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>.active>a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #2b323f;
}

/* =====================================
2.1. HEADER HOME STYLE 2
===================================== */

.home-style-2 .navbar.affix {
    background: #272d3a none repeat scroll 0 0;
}
.home-style-2 .nav > li > a:focus, .home-style-2 .nav > li > a:hover, .home-style-2 .nav > .active > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ee0f6f;
}

/* =====================================
2.2. BLOG PAGE HEADER STYLE
===================================== */

.navbar.navbar-white, .navbar-white.navbar-fixed-top {
    background: #fff none repeat scroll 0 0;
}
.navbar-white .navbar-nav li a {
    color: #2b323f;
}
.navbar-white .nav > li > a:focus, .navbar-white .nav > li > a:hover, .navbar-white .nav > .active > a {
    color: #00c9fd
}
.navbar-white .navbar-toggle .icon-bar {
    background-color: #00c9fd;
}

/* =====================================
3. SLIDER AREA
===================================== */

#slider-area {
  overflow: hidden;
}

#slider-area.home-style-1 {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    padding-top: 90px;
    position: relative;
}
#slider-area.home-style-1:after {
    border-left: 50vw solid #fff;
    border-top: 160px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    z-index: 1;
}
#slider-area.home-style-1:before {
    border-right: 50vw solid #fff;
    border-top: 160px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 0;
}
.slide .container {
    position: relative;
}
.slider-text {
    padding-bottom: 25em;
    padding-top: 15em;
    width: 71%;
}
.slider-text h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.slider-text p {
    color: #fff;
    font-size: 16px;
    width: 86%;
}
.button-group .btn-white {
    font-size: 16px;
}
.button-group .download-btn {
    margin-right: 30px;
}
.button-group {
    margin-top: 45px;
}
#slider-area .slider-image {
    position: absolute;
    right: -130px;
    top: 70px;
    z-index: 1;
}
.slider-image img {
    width: 100%;
}
.scroll-icon {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
.scroll-icon a {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
.scroll-icon a i {
    color: #fff;
    font-size: 48px;
}

/* ====================================
3.1. SLIDER HOME STYLE 2
==================================== */

.promo-header-area {
    margin: 150px auto 0;
    width: 67%;
}
.promo-header-area h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.promo-header-area h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
}
.promo-header-area p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
}

.promo-header-area .btn.btn-style-2:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.swiper-container.one {
    padding-top: 40px;
}
.promo-header-area .swiper-slide {
    padding: 0 43px;
}



/* =====================================
10. APP SCREENSHOTS AREA
===================================== */

.slider-wrapper-2 .slide {
    margin: 0 15px;
}
.slider-wrapper-2 .slider-image {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 5px 0 10px;
    position: relative;
}
.slider-wrapper-2 .slider-image:hover .preview-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.preview-icon {
    background-color: rgba(0, 0, 0, 0.85);
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    margin: 0 auto;
}
.preview-icon i {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 70px;
    color: #fff;
    font-size: 30px;
    height: 70px;
    left: 0;
    line-height: 70px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70px;
}

.slick-dots li {
       border: 0;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: 30px;
    background: #000;

}

.slick-dots li button {
    display: none;
}
.slick-dots {
    bottom: 70px;
}
#app-screenshot-area .slick-dots {
    bottom: -70px;
}
.swiper-container {
    width: 100%;
    padding-bottom: 60px;
}
.swiper-slide {
    width: 390px;
    height: auto;
    padding: 0 15px;
}
.swiper-slide img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.swiper-slide .slider-image .preview-icon {
    z-index: -1;
    width: calc(100% - 30px);
}
.swiper-slide.swiper-slide-active .slider-image:hover .preview-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}
.swiper-pagination-bullet {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ee0f6f;
    border-radius: 100%;
    display: inline-block;
    height: 12px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 12px;
}
.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ee0f6f 0%, #f89482 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0f6f 0%, #f89482 100%) repeat scroll 0 0;
    border: medium none;
    height: 12px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 12px;
}

/* =====================================
11. TEAM AREA
===================================== */

#team-area .section-heading h2, #team-area .section-heading p {
    color: #fff;
}
.single-member {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: relative;
}
.member-description {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, rgba(0, 201, 253, 0.95) 0%, rgba(129, 238, 142, 0.95) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(0, 201, 253, 0.95) 0%, rgba(129, 238, 142, 0.95) 100%) repeat scroll 0 0;
    height: 100%;
    left: 15px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    top: 15px;
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.single-member:hover .member-description {
    left: 30px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 30px;
}
.member-description-inner {
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.member-name {
    margin-bottom: 5px;
}
.designation {
    color: #fff;
    font-weight: 600;
}
.short-description {
    color: #fff;
}
.social {
    margin: 0;
    float: right;
}
.social a {
      background: transparent;
    border: 2px solid;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 33px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 35px;
    z-index: 1;
}
.social a:after {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    border-radius: 100px;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.social a:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.social a:hover {
    color: #fff;
}
.social i {
    position: relative;
    z-index: 1;
}


/* =====================================
16. BLOG AREA
===================================== */


.meta-info {
    margin-bottom: 15px;
}
.post-title {
    color: #2b323f;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.post-title a:hover {
    color: #00c9fd;
}
.read-more-wrapper {
    margin-top: 30px;
}
.post-content .read-more-btn {
    color: #2b323f;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}
.post-content .read-more-btn:hover {
    color: #00c9fd;
}
.meta-info li, .meta-info li a {
    color: #757575;
}
.meta-info a:hover {
    color: #00c9fd;
}
.read-more-btn i {
    color: inherit;
    font-size: 24px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.read-more-btn:hover i {
    color: #00c9fd;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    right: -25px;
}

/* =====================================
17. SUBSCRIBE AREA
===================================== */


.subscribe-text h2 {
    color: #fff;
    margin-right: 20px;
    padding-top: 17px;
    text-align: right;
    text-transform: uppercase;
}
.subscribe-box {
    position: relative;
}
.subscribe-box .form-control {
      background: #fff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 6px;
    box-shadow: none;
    color: #4c5462;
    font-size: 18px;
    height: 40px;
    padding: 20px;
}
.subscribe-box .form-control::-moz-placeholder {
    color: #4c5462;
    font-size: 18px;
}
.subscribe-box button {
    background: #f39b10;
    border: medium none;
    border-radius: 6px;
    color: #fff;
    font-size: 25px;
    height: 40px;
    padding: 0px 15px;
    position: absolute;
    right: 0;
    top: 0;
}


.address-box h2 {
    color: #fff;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.address-box p {
    color: #fff;
}
.address-info {
    margin-top: 40px;
}
.info-icon i {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    width: 30px;
}
.info-icon {
    padding-right: 10px;
}
.info-details p {
    font-size: 18px;
}
.address-info li {
    margin-bottom: 10px;
}
.appai-form-send-message {
    bottom: -25px;
    left: 0;
    line-height: 1;
    margin: 0;
    position: absolute;
}
.appai-form-send-message.success {
    color: #3c763d;
}
.appai-form-send-message.error {
    color: #a94442;
}

/* =====================================
19. FOOTER AREA
===================================== */

#footer-area {
    background-color: #00276c;
      padding-top: 50px;
    padding-bottom: 40px;
}
#footer-area .social {
    float: right
}
#footer-area p{
       color: #fff;
       margin-bottom: 0;
}
#footer-area strong{
    color: #f39b10;
    font-size: 30px;
}
#footer-area .col-sm-4 a{
color: #fff;
display: block;
}
#footer-area h3{
    color:#fff;
        font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}
.copyright{
    float: left;
}
.copyright p {
    color: #fff;
    margin-bottom: 0;
}
.copyright a {
    color: #00c9fd;
}

#event-button .section-heading h2{
    color: #000;
}
#event-button .section-heading h2 strong{
     color: #f39b10;
}
/* =====================================
20.2. BLOG
===================================== */

.blog-post {
    margin-bottom: 50px;
}
.home-style-1 .blog-post{
    margin-bottom: 0;
}

/* =====================================
22. BLOG DETAILS
===================================== */


.footer-bottom{
    background: #00276c;
        border-top: 1px solid #ddd;
    padding: 20px 0;
}
#event-button{
    background-image: url(img/backgroundvesukien.png);
        padding: 80px 0;
}
#event-button .section-heading{
    width: 100%;
        margin: 0 auto;
}
#event-button .section-heading h2{
    padding-bottom: 0;
}
#customer-logo{
    background-image: url(img/backgroundlogo.png);
        padding: 80px 0;
}
#slick-slide00{
    float: left;
      margin-left: -20px;
         background-image: url(img/iconleft.png);
}
#slick-slide01{
    float: right;
    margin-right: -20px;
         background-image: url(img/iconright.png);
}
#customer-logo .section-heading h2{
        padding-bottom: 0;
    position: relative;
    text-transform: uppercase;
    color: #f39b10;
}
.event-left{
    float: left;
    background: #f39b10;
    color: #fff;
    text-align: center;
    padding: 10px;

}
.event-left strong{
    font-size: 20px;
}
.event-left p{
    color: #fff;
    margin-bottom: 0;
}
.event-right{
        margin-left: 90px;
    padding-top: 5px;
}
.event-right p{
    margin-bottom: 0;
    font-size: 13px;
}
.post-thumbnail{
    line-height: 0;
}
.blog-post{
        box-shadow: -1px 1px 6px 1px #ddd;
}
.blog-post:hover{
        box-shadow: -1px 1px 6px 1px #f39b10;
}
.post-thumbnail a{
    width: 100%;
}
.center-block{
    width: 100%;
}
.post-title a{
    font-size: 14px;
}
#blog-area .row{
    margin-bottom: 26px;
}
#blog-area .row:last-child{
    margin-bottom: 0;
}
.button{
        background: #f39b10;
    color: #fff;
    padding: 7px 20px;
    border-radius: 21px;
    /* margin-top: 40px; */
    border: 1px solid transparent;
    margin: auto;

}
.button:hover{
border: 1px solid #f39b10;
background: transparent;
color: #f39b10;
}
#blog-area .col-sm-12{
text-align: center;
margin-top: 40px;
}
.text-right{
    padding: 15px;
}
.text-right .button{
margin-left: 20px;
}
#blog-area .col-sm-2 select{
        background: #f39b10;
    color: #fff;
    border-radius: 10px;
    padding: 9px 10px;
    border: transparent;
}
#blog-area .col-sm-2 select:focus{
        outline:none;
}
#blog-area  input{
    width: 100%;
        padding: 8px;
    border-radius: 28px;
    border: 1px solid #ddd;
}
.ticket-search div{
    display: inline-block;
    border-left: 1px solid #ddd;
}
.ticket-search div:nth-child(4){
    border-left: 0;
}

.ticket-search select{
        padding: 9px 10px;
        border: 0;
}
.ticket-search{
    position: absolute;
    right: 16px;
        top: 0.6px;
}
#blog-area .row:nth-child(2){
        overflow: hidden;
    width: 100%;
    position: relative;
}
#event-button .button{
    margin-top: 20px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
#blog-area{
    padding-bottom: 80px;
}
#blog-area .section-heading{
        margin: 0 auto 0px;
}
.lang{
    margin-left: 20px;
}
.form-dangnhap{
    display: none;
}
.abc{
    display: block;
    position: fixed;
    z-index: 1;
   left: 50%;
    top: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    background-color: #fefefe;
    margin: auto;
        width: 400px;
    padding: 20px;
    border: 1px solid #888;
        transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.abc button,.abc input, .abc select, .abc textarea{
    width: 100%;
    margin: 10px 0;
    border:1px solid #ddd;
    border-radius: 6px;
    padding: 6px 14px;
}
.button-login{
     background-color: #f39b10;
     color: #fff;
}
.login-fb{
    background-color: #3b5897;
     color: #fff;
}
.closes{
    position: absolute;
    right: 0;
    top: 0;
}
#ticket{

         padding: 40px 0;
    background-color: #f1f2ff;
}

.left-one, .right-one{
    display: inline-block;
}
.right-one p{
display: inline-block;

}
.right-one{
    float: right;
}
#ticket >.container >.row >.col-sm-8{
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e8e8e9;
    padding: 30px 20px;
    margin-bottom: 10px;
}
#ticket h3{
    margin-bottom: 20px;
}
.right-one p.act:last-child{
     border-radius:5px;
  background-color: #f39b10;
  color: #fff;
  padding: 3px 7px;
}
.right-one p:last-child{
    color:  #f39b10;
    border:1px solid  #f39b10;
    border-radius: 5px;
   padding: 3px 7px;
   margin-left: 15px; 
}
#maps-ticket{
    padding: 50px 0;
}
#maps-ticket h3{
    margin-bottom: 30px;
}
.icon{
    margin-right: 10px;
}
.condition{
    margin-bottom: 30px;
}
.title-info h5{
    border-radius: 3px;
    background-color: #f39b10;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    overflow: hidden;
    display: block;
}
.title-info strong{
       font-weight: normal;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 30px;
    position: relative;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}
/* Create a custom radio button */
.checkmark {
       position: absolute;
    top: 14px;
    left: 9px;
border:1px solid #2196F3;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #2196F3;
}

/* When the radio button is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
      top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
      background-color: #2196F3;
    border-radius: 50%;
}
.container1 {
    display: block;
    position: relative;
     border-bottom: solid 1px #f5f5f5;
        padding: 13px 0;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.sidebar-info{
    border-radius: 3px;
overflow: hidden;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
  padding: 30px 0;
}
#info-person{
    padding-top: 60px;
    padding-bottom: 60px;
}
.content-wiget{
    padding: 20px ;
      border-top: 1px solid #dddddf;
}
.content-text{
    border-top: 1px solid #dddddf;
        overflow: hidden;
        padding: 20px 10px;
}
.sidebar-info h3{
    color: #00266c;
      font-size: 18px;
      padding: 10px 20px;
      padding-top: 0;
}
.content-text strong{
    display: block;
}
label{
    display: block;
    font-weight: normal;
}
.custom-select {
    border-radius: 3px;
     height: 40px;
     width: 100%;
}
input{
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 0 10px;
}
#info-person .col-sm-6{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-info{
        border-radius: 5px;
    background-color: #f5f5f5;
    padding: 20px 15px;
}
.form-info input{
width: 50%;
margin-bottom: 20px;
}
.form-info select{
        height: 40px;
    width: 50%;
        border-radius: 3px;
}
.form-info .custom-select{
margin-bottom: 20px;
}
.form-info textarea{
    width: 50%;
    height: 100px;
}
button{
    border-radius: 3px;
    background-color: #f39b10;
    border: 0;
    padding:10px 15px;
    color: #fff;
}
.blue {
    color: #0067cd;
}
.pay-info{
        position: relative;
    display: block;
    background: #f5f5f5;
    overflow: hidden;
    border-radius: 3px;
    padding: 15px;
    margin-top: 20px;
}
.pay-info p{
    width: 70%;
    float: left;
}
.pay-info button{
    float: right;
}
.pay-info a{
    text-decoration: underline;
}
.endow{
    display: block;
    width: 100%;
    overflow: hidden;
    border: solid 1px #f5f5f5;
    padding: 15px;
    border-radius: 3px;
}
.endow label, .endow button, .endow input{
float: left;
}
.endow input{
    width: 50%;
    margin: 0 10px;
}
.pay-office2{
        background: #f5f5f5;
    overflow: hidden;
}

/* On mouse-over, add a grey background color */
.pay-office2:hover input ~ .checkmark {
    background-color: #2196F3;
}

/* When the radio button is checked, add a blue background */
.pay-office2 input:checked ~ .checkmark {
  background: white;
}


/* Show the indicator (dot/circle) when checked */
.pay-office2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.pay-office2 .checkmark:after {
      top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
      background-color: #2196F3;
    border-radius: 50%;
}

/* Hide the browser's default radio button */
.pay-office2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.pay-office2 .container1{
border-bottom: 0;
}
.background{
    overflow: hidden;
    background: #fff;
    margin-bottom: 15px;
}
.background .col-sm-4{
    text-align: right;
    float: right;
    padding-top: 15px;
}
.network{
    float: right;
    padding-right: 20px;
}
.sidebar-info .content-text:last-child .col-sm-6{
    margin-top:0 !important;
}
.sidebar-info .content-text:last-child strong{
    font-size: 16px;
    display: inline-block;
}
.sidebar-info .content-text:last-child .col-sm-6:last-child strong{
 font-size: 21px;
 color: #f39b10;
}
.sidebar-info .content-text:last-child .col-sm-6:nth-child(2){
        text-align: right;
}
.sidebar-info .content-text:last-child .col-sm-6:last-child{
    text-align: right;
    margin-bottom:0 !important;
}
.sidebar-info .content-text:last-child .col-sm-6:nth-child(3){
    margin-bottom:0 !important;
}
.info-map{
    background: #f5f5f5;
        padding: 15px;
}
.info-map strong{
    display: block;
}
.info-map label{
    padding-top: 10px;
}
.info-map textarea{
    width: 80%;
    height: 80px;
}
.mgr{
        margin-right: 16px;
}
.bder{
    border-radius: 5px;
    background-color: #e1f6fe;
    border: solid 1px #2b9ae3;
    padding: 0 5px;
}
.tren_3_don_vi{
       margin-top: 20px;
    position: relative;
    display: inline-block;
}
@media (max-width: 767px) and (min-width: 320px){
    .navbar, .navbar-fixed-top{
        background:#fff !important;
    }
    .text-right{
        display: none;
    }
    #footer-area{
        padding-top: 50px !important;
    }
    #footer-area .col-sm-4:nth-child(2),  #footer-area .col-sm-4:nth-child(3){
    margin-top: 30px;
    }
    #footer-area h3{
            margin-bottom: 15px;
    }
    .subscribe-wrapper {
    padding: 15px 0 !important;
}
}
.modal-backdrop{
    display: none;
}