@(message: String, articles: List[Article])
@import models._; var countEvent = 1

<div id="page-wrapper" style="margin-left: 0">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Article List</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"></div></div>
                        <div class="col-sm-6"><div class="dataTables_filter"><label>Search:<input id="filter_article" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example"></label></div></div></div><div class="row"><div class="col-sm-12">
                        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="table_article" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;table-layout: fixed;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 7%;" class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Count</th>
                                    <th style="width: 12%;" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending">
                                        <div style="width:100%;">
                                            <select class="selectpicker" data-width="100px" multiple>
                                                <option value="" disabled selected>Choose status</option>
                                                <option value="1">New</option>
                                                <option value="2">Updating</option>
                                                <option value="3">Editing</option>
                                                <option value="4">Finished</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th style="width: 7%;" class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Title</th>
                                    <th style="width: 7%;" class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Author</th>
                                    <th style="width: 60%;overflow: hidden;text-overflow: ellipsis;" class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Content</th>
                                    <th style="width: 7%;" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1">Publish date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(article <- articles){
                                    <tr class="gradeA @{if(countEvent %2 == 0) "odd" else "even"}" role="row">
                                        <td class="right">@countEvent</td>
                                        <td></td>
                                        <td style="word-wrap: break-word">@article.title</td>
                                        <td>@article.author</td>
                                        <td>@Html(article.content)</td>
                                        <td>@article.publish_date</td>
                                    </tr>
                                    @{countEvent = countEvent + 1}
                                }
                            </tbody>
                        </table>
                    </div></div>

                    <div class="row">
                        <div class="col-sm-6">
                            @*<div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>*@
                        </div>
                        @*<div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">4</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">5</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">6</a></li><li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li></ul></div></div></div></div>*@
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
                <!-- /.panel -->
        </div>
            <!-- /.col-lg-12 -->
    </div>
</div>


<script src="@routes.Assets.versioned("javascripts/article.view.js")" type="text/javascript"></script>
