@(message: String, artists: List[Artist])
@import models._; var countEvent = 1

<div id="page-wrapper" style="margin-left: 0">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Top 100 Artist</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length">
                        @*<label>Show <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>*@</div></div><div class="col-sm-6">
                        <div class="dataTables_filter"><label>Search:<input id="filter_artist" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example"></label></div></div></div><div class="row"><div class="col-sm-12">
                        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="table_artist" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;table-layout: fixed;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 10%;" class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1">Rank</th>
                                    <th style="width: 10%;" class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1">Info</th>
                                    <th style="width: 10%;" class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1">Artist</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(artist <- artists){
                                    <tr class="gradeA @{if(countEvent %2 == 0) "odd" else "even"}" role="row">
                                        <td class="right"><h2 style="color: @{if(artist.rank > artist.h_last_week && artist.h_last_week != 0) "red" else if(artist.rank < artist.h_last_week) "green" else "grey"}">@{"%03d".format(artist.rank)}</h2><span>Last week: @{if(artist.h_last_week == 0) "--" else artist.h_last_week}</span></td>
                                        <td style="word-wrap: break-word">
                                            Last week: @{if(artist.h_last_week == 0) "--" else artist.h_last_week}<br>
                                            Peek position: @artist.h_peak_rank<br>
                                            Weeks on chart: @artist.h_weeks_on_chart
                                        </td>
                                        <td><img style="width:91px;height:91px" src="@artist.image"/><a href="#">@artist.artist_name</a></td>
                                    </tr>
                                    @{countEvent = countEvent + 1}
                                }
                            </tbody>
                        </table>
                    </div></div>

                    <div class="row">
                        <div class="col-sm-6">
                            @*<div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>*@
                        </div>
                        @*<div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">4</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">5</a></li><li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">6</a></li><li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li></ul></div></div></div></div>*@
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
            <!-- /.col-lg-12 -->
    </div>
</div>

<script src="@routes.Assets.versioned("javascripts/artist.js")" type="text/javascript"></script>