@(message: String, qrCode: String)
@import models._; var countEvent = 1

<script src="https://webqr.com/llqrcode.js" type="text/javascript"></script>
<script src="https://apis.google.com/js/plusone.js" type="text/javascript"></script>
<script src="https://webqr.com/webqr.js" type="text/javascript"></script>
<div id="main">
    <div id="mainbody">
        <table class="tsel" border="0" width="100%">
            <tr>
                <td valign="top" align="center" width="50%">
                    <table class="tsel" border="0">
                        <tr>
                            <td><img class="selector" id="webcamimg" src="vid.png" onclick="setwebcam()" align="left" /></td>
                            <td><img class="selector" id="qrimg" src="cam.png" onclick="setimg()" align="right"/></td></tr>
                        <tr><td colspan="2" align="center">
                            <div id="outdiv">
                            </div></td></tr>
                    </table>
                </td>
            </tr>
            <tr><td colspan="3" align="center">
                <img src="down.png"/>
            </td></tr>
            <tr><td colspan="3" align="center">
                <div id="result"></div>
            </td></tr>
        </table>
    </div>&nbsp;
    <div id="footer">
        <img style="position:relative;top:0px;left:0px;margin:0;padding:0;" src="comodo_secure_seal_100x85_transp.png"/>
    </div>
</div>
<canvas id="qr-canvas" width="800" height="600" style="display: none;"></canvas>
<script type="text/javascript">load();</script>


