@(message: String, qrCode: String)
@import models._; var countEvent = 1


<div id="page-wrapper" style="margin-left: 0">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">View</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    List Article
                </div>
                    <!-- /.panel-heading -->
                @*<div id="option_1" class="row">
                    <form id="frmPayByPayoo" name="frmPayByPayoo"
                    action="https://newsandbox.payoo.com.vn/v2/paynow/" method="POST">
                        <input name = "imageField" type = "image" id = "imageField" alt = "Payoo
    Checkout" src = "https://www.payoo.com.vn/img/button/PayNow.jpg"/>
                        <input type="hidden" name="bc" value="" />
                        <input type="hidden" name="pm" value="" />
                        <input type="hidden" name="OrdersForPayoo" value="Order xml"/>
                        <input type="hidden" name="CheckSum" value="checksum value" />
                    </form>
                </div>*@

                <div id="option_2" class="row">
                    <form id="frmPayByPayoo" class="test-form"name="frmPayByPayoo"
                    action="https://newsandbox.payoo.com.vn/v2/paynow/" method="POST">
                        <div id="payoo-methods" style="width: 710px;"></div>
                        <input type="hidden" name="bc" value="" />
                        <input type="hidden" name="pm" value="" />
                        <input type="hidden" name="OrdersForPayoo" value="Order xml"/>
                        <input type="hidden" name="CheckSum" value="checksum value" />
                    </form>
                </div>


                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
            <!-- /.col-lg-12 -->
    </div>
</div>

