@import scala.collection.mutable.ArrayBuffer
@(username: String, transaction: TransactionDetail, tickets: List[Ticket], ticket_types: List[EventTicketType], districts: List[District], wards: ArrayBuffer[Ward], isAdmin: Int, sendgridEventNotis: List[SendgridEventNoti], eventRequireInfos: List[EventRequireInfo], eventRequireInfoAnswers: List[EventRequireInfoAnswer])

@import models._; var countTicket = 0; var totalTicket = 0; var seat: Seat = null;
@import helpers._;

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/admin.css")">

<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><img src="https://dreamspass.vn/images/logo.png" alt="logo" class="img-responsive"></a>
            </div>
            <div class="icon_user">
                <div class="dropdown" >
                    <button style="color: #00266c;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user"></i>
                        Hello, @username
                        <span class="caret"></span></button>
                    <ul style="color: #00266c;" class="dropdown-menu">
                        <li><a href="/doLogout?event_id=@transaction.event_id" id="logout">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>

<section class="admin_detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="tab_report">
                    <button class="tablinks active"><a href="../report/@transaction.event_id">ĐƠN HÀNG</a></button>
                    @*<button class="tablinks" onclick="openCity(event, 'kenhphanphoi')">KÊNH PHÂN PHỐI</button>*@

                </div>


                <div id="donhang" class="tabcontent">
                    <div class="section_title">
                        <h4>CHI TIẾT ĐƠN HÀNG</h4>
                        @*<div class="button_detail">
                        <button>In đơn hàng</button>
                        <button>In vé</button>
                        </div>*@
                    </div>
                    <div class="col-sm-6">
                        <div class="update_admin">
                            <h5>Cập nhật trạng thái</h5>
                            <table class="border_0">
                                <tr>
                                    <td>Trạng thái đơn hàng</td>
                                    <td>
                                        <select id="status">
                                            <option value="0" @{
                                                if(transaction.status == 0) "selected"
                                            }>@Common.mapTransactionStatus(0)</option>
                                            <option value="1" @{
                                                if(transaction.status == 1) "selected"
                                            }>@Common.mapTransactionStatus(1)</option>
                                            <option value="2" @{
                                                if(transaction.status == 2) "selected"
                                            }>@Common.mapTransactionStatus(2)</option>
                                            <option value="3" @{
                                                if(transaction.status == 3) "selected"
                                            }>@Common.mapTransactionStatus(3)</option>
                                            <option value="4" @{
                                                if(transaction.status == 4) "selected"
                                            }>@Common.mapTransactionStatus(4)</option>
                                            <option value="5" @{
                                                if(transaction.status == 5) "selected"
                                            }>@Common.mapTransactionStatus(5)</option>
                                            <option value="6" @{
                                                if(transaction.status == 6) "selected"
                                            }>@Common.mapTransactionStatus(6)</option>
                                            <option value="7" @{
                                                if(transaction.status == 7) "selected"
                                            }>@Common.mapTransactionStatus(7)</option>
                                        </select>
                                    </td>
                                    @if(transaction.status != 4) {
                                        <td><button style="@{
                                            if(isAdmin == -1) "display:none;" else ""
                                        }" id="updateStatus">Cập nhật</button></td>
                                    }
                                </tr>

                                @*<tr>
                                <td>Lý do huỷ</td>
                                <td><select>
                                <option value="@transaction.status" selected>@Common._mapTransactionStatus(transaction.status)</option>
                                <option value="saab">Chưa thanh toán</option>
                                </select>
                                </td>
                                <td><button>Cập nhật</button></td>
                                </tr>*@
                            </table>
                        </div>
                        <h5 class="mgt_detail">Thông tin sự kiện</h5>
                        <table class="border_0">
                            <tr>
                                <td>Tên sự kiện</td>
                                <td>@transaction.event_name_vi</td>
                            </tr>
                            <tr>
                                <td>Suất diễn</td>
                                <td>18:00, 25/05/2018</td>
                            </tr>
                            <tr>
                                <td>Địa điểm</td>
                                <td>@transaction.event_address</td>
                            </tr>
                        </table>
                        <h5 class="mgt_detail">Thông tin vé</h5>
                        <table class="detail_admin_blue">

                            <tr>
                                <th>#</th>
                                <th>Loại vé</th>
                                <th>Mã vé</th>
                                <th>Ghế ngồi</th>
                                <th>Trạng thái</th>
                                @*<th></th>*@
                            </tr>
                            @{
                                countTicket = 0
                            }
                            @for(ticket <- tickets) {
                                @{
                                    if(ticket.seat != null) seat = JsonExt.gson.fromJson(ticket.seat, classOf[Seat])
                                }
                                <tr>
                                    <td>@(countTicket + 1)</td>
                                    <td>@ticket_types.map(t => if(t.id == ticket.id_ticket_type) t.name_vi)</td>
                                    <td>@ticket.id</td>
                                    <td>@{
                                        if(seat != null) seat.seat_name_vi else "FS"
                                    }</td>
                                    <td>@Common.mapCheckinStatus(ticket.checkin_status)</td>
                                    @*<td><i class="fa fa-search"></i></td>*@
                                </tr>
                                @{
                                    countTicket += 1
                                }
                            }
                        </table>
                        @*<button class="detail_right ">Gửi lại email đơn hàng</button>*@
                        <h5 class="mgt_detail">Lịch sử gửi email</h5>
                        <table class="detail_admin_blue">
                            <tr>
                                <th>Loại email</th>
                                <th>Thời gian gửi</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr>
                                <td>Confirmation</td>
                                <td>@{
                                    sendgridEventNotis.map(t => if(t.order_status == 0) {
                                        Common.convertTimestampVN(t.email_time.getMillis())
                                    }
                                    else {
                                        ""
                                    })
                                }
                                </td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 0) Common.emailStatus(t.email_status))</td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 0 && isAdmin != -1) <button class="detail_right resendEmail" data-data="0">Gửi lại</button>)</td>
                            </tr>
                            <tr>
                                <td>Remind</td>
                                <td>@{
                                    sendgridEventNotis.map(t => if(t.order_status == 8) {
                                        Common.convertTimestampVN(t.email_time.getMillis())
                                    }
                                    else {
                                        ""
                                    })
                                }
                                </td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 8) Common.emailStatus(t.email_status))</td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 8 && isAdmin != -1) <button class="detail_right resendEmail" data-data="8">Gửi lại</button>)</td>
                            </tr>
                            <tr>
                                <td>Success</td>
                                <td>@{
                                    sendgridEventNotis.map(t => if(t.order_status == 4) {
                                        Common.convertTimestampVN(t.email_time.getMillis())
                                    }
                                    else {
                                        ""
                                    })
                                }
                                </td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 4) Common.emailStatus(t.email_status))</td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 4 && isAdmin != -1) <button class="detail_right resendEmail" data-data="4">Gửi lại</button>)</td>
                            </tr>
                            <tr>
                                <td>Reminder Event</td>
                                <td>@{
                                    sendgridEventNotis.map(t => if(t.order_status == 9) {
                                        Common.convertTimestampVN(t.email_time.getMillis())
                                    }
                                    else {
                                        ""
                                    })
                                }
                                </td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 9) Common.emailStatus(t.email_status))</td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 9 && isAdmin != -1) <button class="detail_right resendEmail" data-data="9">Gửi lại</button>)</td>
                            </tr>
                            <tr>
                                <td>Payment Fail</td>
                                <td>@{
                                    sendgridEventNotis.map(t => if(t.order_status == 5) {
                                        Common.convertTimestampVN(t.email_time.getMillis())
                                    }
                                    else {
                                        ""
                                    })
                                }
                                </td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 5) Common.emailStatus(t.email_status))</td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 5 && isAdmin != -1) <button class="detail_right resendEmail" data-data="5">Gửi lại</button>)</td>
                            </tr>
                            <tr>
                                <td>Cancel</td>
                                <td>@{
                                    sendgridEventNotis.map(t => if(t.order_status == 6) {
                                        Common.convertTimestampVN(t.email_time.getMillis())
                                    }
                                    else {
                                        ""
                                    })
                                }
                                </td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 6) Common.emailStatus(t.email_status))</td>
                                <td>@sendgridEventNotis.map(t => if(t.order_status == 6 && isAdmin != -1) <button class="detail_right resendEmail" data-data="6">Gửi lại</button>)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <h5 >Thông tin đơn hàng</h5>
                        <table class="border_0">
                            <tr>
                                <td><strong>Mã đơn hàng</strong></td>
                                <td>@transaction.id</td>
                            </tr>
                            <tr>
                                <td><strong>Tổng vé</strong></td>
                                <td>@countTicket</td>
                            </tr>
                            <tr>
                                <td><strong>Giá đã giảm</strong></td>
                                <td>@Common.currencyFormat(transaction.revenue_discount)</td>
                            </tr>
                            <tr>
                                <td><strong>Số tiền thanh toán</strong></td>
                                <td>@Common.currencyFormat(transaction.revenue_after)</td>
                            </tr>
                            <tr>
                                <td><strong>Phương thức thanh toán</strong></td>
                                <td>@Common.mapPaytype(transaction.pay_type)</td>
                            </tr>
                            <tr>
                                <td><strong>Ngày đặt hàng</strong></td>
                                <td>@Common.convertTimestamp(transaction.time_create, "EEE, dd MMM yyyy HH:mm")</td>
                            </tr>
                            <tr>
                                <td><strong>Ghi chú</strong></td>
                                <td><textarea id="note" placeholder="">@transaction.note</textarea></td>
                            </tr>
                        </table>
                        <button class="detail_right " style="@{
                            if(isAdmin == -1) "display:none;" else ""
                        }" id="updateNote">Cập nhật</button>
                        <h5 class="mgt_detail">Thông tin khách hàng</h5>
                        <table class="border_0">
                            <tr>
                                <td><strong>Tên khách hàng</strong></td>
                                <td><input id="name" type="text" placeholder="" name="" value="@transaction.name"></td>
                            </tr>
                            <tr>
                                <td><strong>Số điện thoại</strong></td>
                                <td><input id="phone" type="text" placeholder="" name="" value="@transaction.phone"></td>
                            </tr>
                            <tr>
                                <td><strong>Tỉnh / Thành phố</strong></td>
                                <td>
                                    <select id="select_city" disabled>
                                        <option value="79" selected>Hồ Chí Minh</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Quận / huyện</strong></td>
                                <td>
                                    <select id="select_district" style="display: inline-block">
                                    @for(d <- districts) {
                                        <option value="@d.id" @{
                                            if(transaction.district.getOrElse("").equals(d.id)) "selected"
                                        }>@d.name</option>
                                    }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Phường / Xã</strong></td>
                                <td>
                                    <select id="select_ward" style="display: inline-block">
                                    @if(transaction.district.getOrElse("").length > 0) {
                                        @for(w <- wards) {
                                            @if(transaction.district.get.equals(w.district_id)) {
                                                <option value="@w.id" @{
                                                    if(transaction.ward == w.id) "selected"
                                                }>@w.name</option>
                                            }
                                        }
                                    }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Địa chỉ</strong></td>
                                <td><input id="transaction_address" type="text" placeholder="" name="" value="@transaction.transaction_address"></td>
                            </tr>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td><input id="email" type="text" placeholder="" name="" value="@transaction.email"></td>
                            </tr>

                            @for(eventRequireInfo <- eventRequireInfos) {
                                <tr>
                                    <td><strong>@eventRequireInfo.question_vi</strong></td>
                                    <td>@eventRequireInfoAnswers.map(t => if(t.event_require_info_id == eventRequireInfo.id) t.answer)</td>
                                </tr>
                            }

                        </table>
                        <div class="detail_right">
                            @*<button>Gủi email xác nhận </button>*@
                            <button style="@{
                                if(isAdmin == -1) "display:none;" else ""
                            }" id="updateInfo">Cập nhật</button>
                        </div>
                    </div>
                </div>
                @*<div id="kenhphanphoi" class="tabcontent">
                <h4>DANH SÁCH KÊNH PHÂN PHỐI</h4>
                <div class="admin_search">
                <div class="left">
                <select>
                <option value="volvo">Khách sạn 5 sao</option>
                <option value="saab">Khách sạn 4 sao</option>
                <option value="mercedes">Khách sạn 3 sao</option>
                </select>
                </div>
                <div class="right">
                <input type="text" placeholder="search" name="">
                </div>
                </div>
                </div>*@
            </div>
        </div>
    </div>
</section>

<div class="alert alert-success fade out alert-dismissible col-md-2 col-md-offset-5" style="margin-top: 18px;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>Your transaction have been updated!</strong>
</div>

<div id="transaction_id" style="display: none" data-data="@transaction.id" ></div>
<div id="json_ticket_type" style="display: none" data-data="@JsonExt.toRawJson(ticket_types)" ></div>
<div id="json_districts" style="display: none" data-data="@JsonExt.toRawJson(districts)" ></div>
<div id="json_wards" style="display: none" data-data="@JsonExt.toRawJson(wards)" ></div>

<script src="@routes.Assets.versioned("javascripts/report.transaction.detail.js")" type="text/javascript"></script>
