@(transactions: List[Transaction], ticket_types: List[EventTicketType], event: Event, events: List[ListEvent])
@import models._;
@import helpers._;

<section class="report">
    <div class="container">
        <div class="row">
            <div class="title" style="padding-left: 15px;">
                <select id="filter_event" style="display: inline-block">
                    @for(e <- events){
                        <option value="@e.id" @{if(e.id == event.id) "selected"}>@e.name_vi</option>
                    }
                </select>
                <div class="title_header_report">
                <h3><a href="http://dreamspass.vn/@event.link">Visit event page</a></h3>

                </div>
                <p>@{Common.convertTimestamp(event.date_show, "dd/MM/yyyy") + " @ " + event.address}</p>
            </div>
            <div class="col-sm-12">
                <div class="tab_report">
                    <button class="tablinks"><a href="/transaction/report/@event.id">ĐƠN HÀNG</a></button>
                    <button class="tablinks active"><a href="#">LOẠI VÉ</a></button>
                    <button class="tablinks"><a href="#">ĐẶT VÉ</a></button>
                    @*<button class="tablinks">CHỈNH SỬA</button>
                    <button class="tablinks">PHÂN QUYỀN</button>
                    <button class="tablinks">CODE GIẢM GIÁ</button>
                    <button class="tablinks">QUẢNG BÁ</button>*@
                </div>
                <div id="donhang" class="tabcontent">
                    <div class="report_thongke">
                        <h4>thống kê theo loại vé</h4>
                        <div id="ticket_summary" class="table_report">
                            @*<div class="table_report_one">
                                <div class="col-sm-8">
                                    <p><strong>Vé phổ thông</strong></p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Đã bán <strong>1.500 / 3.000</strong> (50%)</p>
                                </div>
                                <div class="chart_report col-sm-12">
                                    <div class="back_chart">
                                    </div>
                                </div>
                                <p>Mở bán đến hết ngày <strong>05/04/2018</strong>(13 ngày)</p>
                            </div>*@

                        </div>
                    </div>
                    <div class="search_port">

                        <div class="search_column_one">
                            @*<input type="text" name="" placeholder="22/02/2018">
                            <input type="text" placeholder="26/02/2018" name="">*@


                        </div>
                        <div class="search_column_two">
                            @*<select>
                            <option value="suatdien">Tất cả  suất diễn</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                            </select>*@
                            <div class="form-group">
                                <div class="col-sm-2"  style="padding-left:0px!important;">
                                    <div class='input-group date' id='startTime'>
                                        <input type='text' class="form-control" data-time="0" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2"  style="padding-left:0px!important;">
                                    <div class='input-group date' id='endTime'>
                                        <input type='text' class="form-control" data-time="0" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div style="display:inline-block;padding-left:80px">
                                        <button style="background:#f39b10;color:white" id="doFilter">LỌC DỮ LIỆU</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="report_detail">
                        <div class="detail_column_one" style="padding-top:10px">
                            @*<div class="col-sm-4">
                            <p><i class="fa fa-chevron-circle-left"></i> 1/21 <i class="fa fa-chevron-circle-right"></i></p>
                            </div>
                            *@@*<div class="col-sm-4">
                            <button><i class="fa fa-envelope"></i> Gửi email tới  đơn hàng đã chọn</button>
                            </div>*@@*
                            <div class="col-sm-4 pull-right">
                            <p>Hiển thị số đơn hàng <input type="text" name="" placeholder="10" ></p>
                            </div>*@
                        </div>
                        <div class="detail_column_two">
                            @*<table id="dataTransaction" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center">PROCESSING TICKET</th>
                                        <th style="text-align: center">PAID TICKET</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for((k, v) <- summary_data_ticket){
                                    @if(k != -1) {
                                        <tr>
                                            <td>@ticket_types.filter(t => t.id == k).head.name_vi</td>
                                            <td style="text-align: right">@Common.currencyFormat(v._1)</td>
                                            <td style="text-align: right">@Common.currencyFormat(v._2)</td>
                                        </tr>
                                    }
                                }
                                    <tr>
                                        <td>TOTAL</td>
                                        <td style="text-align: right">@Common.currencyFormat(summary_data_ticket.get(-1).get._1)</td>
                                        <td style="text-align: right">@Common.currencyFormat(summary_data_ticket.get(-1).get._2)</td>
                                    </tr>
                                </tbody>
                            </table>*@

                            <table id="ticket_detail" style="width:100%">
                                <thead>
                                    <tr>
                                        <th rowspan="2"></th>
                                        @for(ticket_type <- ticket_types) {
                                            <th colspan="2" style="text-align: center">@ticket_type.name_vi</th>
                                        }
                                    </tr>
                                    <tr>
                                        @for(ticket_type <- ticket_types) {
                                            <th style="text-align: center">PROCESSING</th>
                                            <th style="text-align: center">PAID</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="detail_column_one">
                            @*<div class="col-sm-4">
                            <p><i class="fa fa-chevron-circle-left"></i> 1/21 <i class="fa fa-chevron-circle-right"></i></p>
                            </div>
                            *@@*<div class="col-sm-4">
                            <button><i class="fa fa-envelope"></i> Gửi email tới  đơn hàng đã chọn</button>
                            </div>*@@*
                            <div class="col-sm-4 pull-right">
                            <p>Hiển thị số đơn hàng <input type="text" name="" placeholder="10" ></p>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal_ticket_detail" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="json_ticket_types" style="display:none" data-data="@JsonExt.toRawJson(ticket_types)" ></div>
<div id="json_transactions" style="display:none" data-data="@JsonExt.toRawJson(transactions)" ></div>

<script src="@routes.Assets.versioned("javascripts/report.ticket.js")" type="text/javascript"></script>