@(username: String, transactions: List[Transaction], ticket_types: List[EventTicketType], event: Event, events: List[ListEvent], districts: List[District], isAdmin: Int, permission_group_id: Int)
    @import models._; var countEvent = 1; var countTicket = 0; var totalSoldTicket = 0; var ticket_data_detail = Array.ofDim[String](transactions.length);
    @import helpers._;var count_transaction = 0; var total_shipment = 0;

    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""><img src="https://dreamspass.vn/images/logo.png" alt="logo" class="img-responsive"></a>
                </div>
                <div class="icon_user">
                    <div class="dropdown" >
                        <button style="color: #00266c;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user"></i>
                            Hello, @username
                            <span class="caret"></span></button>
                        <ul style="color: #00266c;" class="dropdown-menu">
                            <li><a href="/doLogout?event_id=@event.id" id="logout">Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <section class="report">
        <div class="container">
            <div class="row">
                <div class="title" style="padding-left: 15px;">
                    <select id="filter_event" style="display: inline-block">
                    @for(e <- events) {
                        <option value="@e.id" @{
                            if(e.id == event.id) "selected"
                        }>@e.id . @e.name_vi</option>
                    }
                    </select>
                    <div class="title_header_report">


                </div>
                    <p><i class="fa fa-home"></i>
                        @{
                            Common.convertTimestamp(event.date_show, "dd/MM/yyyy") + " @ " + event.address
                        }</p>
                </div>
                <div class="col-sm-12">
                    <div class="tab_report">
                        <button class="tablinks active"><a href="#">ĐƠN HÀNG</a></button>
                        <button class="tablinks"><a href="/ticket/report/@event.id">LOẠI VÉ</a></button>
                        <button class="tablinks" style="@{if(permission_group_id == 4) "display:none;" else ""}"><a target="_blank" href="https://dreamspass.vn/@event.link">ĐẶT VÉ</a></button>
                        @*<button class="tablinks">CHỈNH SỬA</button>
                        <button class="tablinks">PHÂN QUYỀN</button>
                        <button class="tablinks">CODE GIẢM GIÁ</button>
                        <button class="tablinks">QUẢNG BÁ</button>*@
                        <button style="background: #f39b10;
                            color: white;" id="export_data"><i class="fa fa-cloud-download"></i></button>
                        <div class="search">
                            <input id="filter_text" type="search" class="search-field" placeholder="Tìm ID / Tên / Email / Số ĐT" value="" name="s" title="Tìm kiếm cho:">
                        </div>

                    </div>

                    <div id="tongket" class="tabcontent" style="display: none;">
                        <div class="report_sum">
` <div class="report_left col-sm-4">
                            <div class="tongveban box_shardow">
                                <h5>Tổng vé bán</h5>
                                <p><strong>12.000</strong>/40.000 vé</p>
                            </div>
                            <div class="tongdoanhthu box_shardow">
                                <h5>Tổng doanh thu</h5>
                                <p><strong>1.000.586.000</strong>đ</p>
                                <div class="text_left">
                                    <p>Thanh toán trực tuyến</p>
                                    <p>Thanh toán trực tiếp</p>
                                </div>
                            </div>
                            <div class="tongdonhang box_shardow">
                                <h5>Tổng đơn hàng</h5>
                                <p><strong>1.000.586.000</strong>đ</p>
                                <div class="text_left">
                                    <div class="column_text">

                                        <p>Đã hoàn tất</p></div>
                                    <div class="column_text">
                                        <p><strong>2.000</strong> đơn hàng</p>
                                    </div>

                                </div>
                                <div class="text_left">
                                    <div class="column_text">
                                        <p>Đang xử lý</p></div>
                                    <div class="column_text">
                                        <p><strong>500</strong> đơn hàng</p>
                                    </div>
                                </div>
                                <div class="text_left">
                                    <div class="column_text">
                                        <p>Thất bại</p></div>
                                    <div class="column_text">
                                        <p><strong>68</strong> đơn hàng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="report_right col-sm-8">
                                <div class="report_thongke">
                                    <h4>thống kê theo loại vé</h4>
                                    <div class="table_report">
                                        <div class="table_report_one">
                                            <div class="col-sm-8">
                                                <p><strong>Vé phổ thông</strong></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>Đã bán <strong>1.500 / 3.000</strong> (50%)</p>
                                            </div>
                                            <div class="chart_report col-sm-12">
                                                <div class="back_chart">
                                            </div>
                                            </div>
                                            <p>Mở bán đến hết ngày <strong>05/04/2018</strong>(13 ngày)</p>
                                        </div>
                                        <div class="table_report_one">
                                            <div class="col-sm-8">
                                                <p><strong>Vé VIP</strong></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>Đã bán <strong>1.500 / 3.000</strong> (50%)</p>
                                            </div>
                                            <div class="chart_report col-sm-12">
                                                <div class="back_chart">
                                            </div>
                                            </div>
                                            <p>Mở bán đến hết ngày <strong>05/04/2018</strong>(13 ngày)</p>
                                        </div>
                                        <div class="table_report_one">
                                            <div class="col-sm-8">
                                                <p><strong>Vé VVIP</strong></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>Đã bán <strong>1.500 / 3.000</strong> (50%)</p>
                                            </div>
                                            <div class="chart_report col-sm-12">
                                                <div class="back_chart">
                                            </div>
                                            </div>
                                            <p>Mở bán đến hết ngày <strong>05/04/2018</strong>(13 ngày)</p>
                                        </div>
                                        <div class="table_report_one">
                                            <div class="col-sm-8">
                                                <p><strong>Vé phổ thông</strong></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>Đã bán <strong>1.500 / 3.000</strong> (50%)</p>
                                            </div>
                                            <div class="chart_report col-sm-12">
                                                <div class="back_chart">
                                            </div>
                                            </div>
                                            <p>Mở bán đến hết ngày <strong>05/04/2018</strong>(13 ngày)</p>
                                        </div>
                                        <div class="table_report_one">
                                            <div class="col-sm-8">
                                                <p><strong>Vé phổ thông</strong></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>Đã bán <strong>1.500 / 3.000</strong> (50%)</p>
                                            </div>
                                            <div class="chart_report col-sm-12">
                                                <div class="back_chart">
                                            </div>
                                            </div>
                                            <p>Mở bán đến hết ngày <strong>05/04/2018</strong>(13 ngày)</p>
                                        </div>
                                        <div class="table_report_one">
                                            <div class="col-sm-8">
                                                <p><strong>Vé phổ thông</strong></p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>Đã bán <strong>1.500 / 3.000</strong> (50%)</p>
                                            </div>
                                            <div class="chart_report col-sm-12">
                                                <div class="back_chart">
                                            </div>
                                            </div>
                                            <p>Mở bán đến hết ngày <strong>05/04/2018</strong>(13 ngày)</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                        <div class="pttt_mgg">
                            <div class="col-sm-6">
                                <h5>PHƯƠNG THỨC THANH TOÁN</h5>
                                <table>
                                    <tr>
                                        <td><i class="fa fa-circle color1"></i>Thanh toán Online</td>
                                        <td>78.000.000 đ (5800 vé)</td>

                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color2"></i>Payoo</td>
                                        <td>56.000.000 đ (2500 vé)</td>

                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color3"></i>Thanh toán tại quầy</td>
                                        <td>35.000.000 đ (1500 vé)</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color4"></i>Chuyển khoản ngân hàng</td>
                                        <td>25.000.000 đ (1500 vé)</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color5"></i>COD</td>
                                        <td>12.000.000 đ (250 vé) </td>
                                    </tr>
                                </table>
                                <div class="map_circle">
                                    <p>Biểu đồ doanh thu theo phương thức thanh toán</p>
                                    <img src="img/dieudotron.png">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5>MÃ GIẢM GIÁ</h5>
                                <table>
                                    <tr>
                                        <td><i class="fa fa-circle color1"></i>MAGIAMGIA</td>
                                        <td>78.000.000 đ (5800 vé)</td>

                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color2"></i>MAQUATANG</td>
                                        <td>1200 vé (12.000.000 đ)</td>

                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color3"></i>MUA1TANG3</td>
                                        <td>260 vé (8.000.000 đ)</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color4"></i>MUA5TANG4</td>
                                        <td>682 vé (9.000.000 đ)</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle color5"></i>MUAUADAI</td>
                                        <td>0 vé</td>
                                    </tr>
                                </table>
                                <div class="map_circle">
                                    <p>Biểu đồ doanh thu theo phương thức thanh toán</p>
                                    <img src="img/dieudotron.png">
                                </div>
                            </div>
                        </div>
                        <div class="map_report">
                            <div class="tab">
                                <button class="tablinks" onclick="openCity(event, 'doanhthu')" id="defaultOpen1">Doanh thu</button>
                                <button class="tablinks" onclick="openCity(event, 'viewpage')">Lượt view page</button>
                            </div>
                            <div id="doanhthu" class="tabcontent1">
                                <img src="img/bieudo1.png">
                            </div>

                            <div id="viewpage" class="tabcontent1">
                                <h3>Paris</h3>
                                <p>Paris is the capital of France.</p>
                            </div>

                        </div>
                        <div class="report_nguontruycap">
                            <table style="width: 100%">
                                <tr>
                                    <th>Nguồn truy cập</th>
                                    <th>Tỉ lệ </th>
                                </tr>
                                <tr>
                                    <td>dreampass.vn</td>
                                    <td>39%</td>
                                </tr>
                                <tr>
                                    <td>google</td>
                                    <td>12%</td>
                                </tr>
                                <tr>
                                    <td>link web 1</td>
                                    <td>7%</td>
                                </tr>
                                <tr>
                                    <td>link web 2</td>
                                    <td>9%</td>
                                </tr>
                                <tr>
                                    <td>link web 2</td>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <td>link web 4</td>
                                    <td>5%</td>
                                </tr>
                                <tr>
                                    <td>link web 5</td>
                                    <td>7%</td>
                                </tr>
                                <tr>
                                    <td>link web 6</td>
                                    <td>9%</td>
                                </tr>
                                <tr>
                                    <td>link web 7</td>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <td>link web 8</td>
                                    <td>5%</td>
                                </tr>
                            </table>
                        </div>

                        <div class="checkin_report">
                            <h4>Thông tin check in</h4>
                            <div class="col-sm-4">
                                <table>
                                    <tr>
                                        <td>Đã check in</td>
                                        <td><strong>250 / 780</strong> vé</td>
                                    </tr>
                                    <tr>
                                        <td>Còn lại</td>
                                        <td><strong>530 / 780</strong> vé</td>
                                    </tr>
                                </table>
                                <button>Hướng dẫn check in</button>
                                <button>Xuất ra danh sách vé đã check in</button>
                            </div>
                            <div class="col-sm-8 exam">
                                <table>
                                    <tr>
                                        <td><p>Tên người mua 1</p>
                                            <p>Vé GA</p></td>
                                        <td><p>ĐÃ CHECK-IN</p>
                                            <p>17:31 08/04/2018</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Tên người mua 1</p>
                                            <p>Vé GA</p></td>
                                        <td><p>ĐÃ CHECK-IN</p>
                                            <p>17:31 08/04/2018</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Tên người mua 1</p>
                                            <p>Vé GA</p></td>
                                        <td><p>ĐÃ CHECK-IN</p>
                                            <p>17:31 08/04/2018</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Tên người mua 1</p>
                                            <p>Vé GA</p></td>
                                        <td><p>ĐÃ CHECK-IN</p>
                                            <p>17:31 08/04/2018</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>Tên người mua 1</p>
                                            <p>Vé GA</p></td>
                                        <td><p>ĐÃ CHECK-IN</p>
                                            <p>17:31 08/04/2018</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="donhang" class="tabcontent">

                        <div class="report_donhang">
                            <div class="col-sm-4">
                                <h3 id="total_transaction">@transactions.length</h3>
                                <p>Đơn hàng</p>
                            </div>
                            <div id="ticket_summary" class="col-sm-4" data-toggle="modal" data-target="#exampleModal">
                                <h3 id="total_soldticket">@totalSoldTicket</h3>
                                <p>Vé</p>
                            </div>
                            <div class="col-sm-4">
                                <h3 id="total_rev">0</h3>
                                <p>Doanh thu</p>
                            </div>
                            @*<div class="col-sm-3">
                            <h3 id="total_shipment">0</h3>
                            <p>Phí vận chuyển</p>
                            </div>*@
                        </div>
                        <div class="search_port">

                            <div class="search_column_one">
                                @*<input type="text" name="" placeholder="22/02/2018">
                                <input type="text" placeholder="26/02/2018" name="">*@

                            </div>
                            <div class="search_column_two">
                                @*<select>
                                <option value="suatdien">Tất cả suất diễn</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                                </select>*@
                            <div class="form-group">
                                <div class="col-sm-2" style="padding-left: 0px !important;">
                                    <div class='input-group date' id='startTime'>
                                        <input type='text' class="form-control" data-time="0" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-2" style="padding-left: 0px !important;">
                                    <div class='input-group date' id='endTime'>
                                        <input type='text' class="form-control" data-time="0" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <select id="filter_ticket_type" style="display: inline-block;
                                        margin-right: 15px">
                                        <option value="-1">Tất cả loại vé</option>
                                        @for(ticket_type <- ticket_types) {
                                            <option value="@ticket_type.id">@ticket_type.name_vi</option>
                                            @{
                                                totalSoldTicket += ticket_type.total_ticket_sold
                                            }
                                        }
                                    </select></div>
                                <div class="col-sm-2">
                                    <select id="filter_transaction_status" style="display: inline-block;
                                        margin-right: 15px">
                                        <option value="-1">Tất cả trạng thái</option>
                                        <option value="0">@Common.mapTransactionStatus(0)</option>
                                        @*<option value="1">@Common.mapTransactionStatus(1)</option>
                                        <option value="2">@Common.mapTransactionStatus(2)</option>
                                        <option value="3">@Common.mapTransactionStatus(3)</option>*@
                                        <option value="4">@Common.mapTransactionStatus(4)</option>
                                        <option style="@{
                                            if(isAdmin == -1) "display:none;" else ""
                                        }" value="5">@Common.mapTransactionStatus(5)</option>
                                        <option style="@{
                                            if(isAdmin == -1) "display:none;" else ""
                                        }" value="6">@Common.mapTransactionStatus(6)</option>
                                        <option style="@{
                                            if(isAdmin == -1) "display:none;" else ""
                                        }" value="7">@Common.mapTransactionStatus(7)</option>
                                    </select></div>
                                <div class="col-sm-2">
                                    <select id="filter_pay_type" style="display: inline-block;">
                                        <option value="-1">Tất Cả Hình Thức Thanh Toán</option>
                                        @*<option value="1">Saab</option>*@
                                        <option value="2">Chuyển Khoản</option>
                                        <option value="3">Thanh Toán Thẻ NH (Payoo)</option>
                                        <option value="2,3">Thanh Toán Online</option>
                                        @*<option value="4">COD</option>*@
                                        <option value="5">Thanh Toán Tại Quầy</option>
                                        <option value="2,3,5">Thanh Toán Online + Tại Quầy</option>
                                        @*<option value="6">Mua Vé Trực Tiếp</option>*@
                                        @*<option value="7">ATM</option>*@
                                        <option value="8">Voucher Code</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">

                                    <button style="background: #f39b10;
                                        color: white" id="doFilter">LỌC DỮ LIỆU</button>

                                </div>
                            </div>

                            </div>
                        </div>
                        <div class="report_detail">
                            <div class="detail_column_one" style="padding-top: 10px">
                                @*<div class="col-sm-4">
                                <p><i class="fa fa-chevron-circle-left"></i> 1/21 <i class="fa fa-chevron-circle-right"></i></p>
                                </div>
                                *@@*<div class="col-sm-4">
                                <button><i class="fa fa-envelope"></i> Gửi email tới đơn hàng đã chọn</button>
                                </div>*@@*
                                <div class="col-sm-4 pull-right">
                                <p>Hiển thị số đơn hàng <input type="text" name="" placeholder="10" ></p>
                                </div>*@
                            </div>
                            <div class="detail_column_two">
                                <table id="dataTransaction" style="width: 100%">
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th style="text-align: center">TRẠNG THÁI</th>
                                        <th style="text-align: center">ĐƠN HÀNG</th>
                                        <th style="text-align: center;
                                            width: 15%">THÔNG TIN KHÁCH HÀNG</th>
                                        @*<th class="center">Suất diễn</th>*@
                                        <th style="text-align: center" class="center">CHI TIẾT ĐƠN HÀNG</th>
                                        <th style="text-align: center" class="center">CHI TIẾT GIẢM GIÁ</th>
                                        <th style="text-align: center" class="center">THÀNH TIỀN</th>
                                        <th style="text-align: center">PHƯƠNG THỨC</th>
                                        <th style="text-align: center;
                                            width: 15%">GHI CHÚ</th>
                                    </tr>

                                </table>

                            </div>

                            <div class="detail_column_one">
                                @*<div class="col-sm-4">
                                <p><i class="fa fa-chevron-circle-left"></i> 1/21 <i class="fa fa-chevron-circle-right"></i></p>
                                </div>
                                *@@*<div class="col-sm-4">
                                <button><i class="fa fa-envelope"></i> Gửi email tới đơn hàng đã chọn</button>
                                </div>*@@*
                                <div class="col-sm-4 pull-right">
                                <p>Hiển thị số đơn hàng <input type="text" name="" placeholder="10" ></p>
                                </div>*@
                            </div>
                        </div>
                    </div>

                    <div id="chinhsua" class="tabcontent" style="display: none;">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                    </div>

                    <div id="phanquyen" class="tabcontent" style="display: none;">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                    </div>

                    <div id="codegiamgia" class="tabcontent" style="display: none;">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                    </div>

                    <div id="quangba" class="tabcontent" style="display: none;">
                        <h3>Tokyo</h3>
                        <p>Tokyo is the capital of Japan.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modal_ticket_detail" class="modal-body">

                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="json_ticket_type" style="display: none" data-data="@JsonExt.toRawJson(ticket_types)" ></div>
    <div id="json_data_district" style="display: none" data-data="@JsonExt.toRawJson(districts)" ></div>
    <div id="json_data" style="display: none" data-data="@JsonExt.toRawJson(transactions)" ></div>
    <div id="event_id" style="display: none" data-data="@event.id" ></div>
    <div id="is_admin" style="display: none" data-data="@isAdmin" ></div>
    <div id="permission_group_id" style="display: none" data-data="@permission_group_id" ></div>

    <script src="@routes.Assets.versioned("javascripts/report.transaction.js")" type="text/javascript"></script>
